@import '../../App.scss';


.footer {
  display: flex;
  position: fixed;
  bottom: 50px;
  justify-content: space-around;
  left: 0;
  right: 0;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  button.download {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.125rem;
    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
    @media (min-width: 1024px) {
      font-size: 1.5rem;
    }
  }
}
